table {
  border-spacing: 0;
  border-collapse: separate;
}

td{
  border: 1px solid #020202;
  text-align: center;
  vertical-align: middle;
  font-size: 150px;
}

.container {
  height: auto;
  width: auto;
  border-collapse: separate;
  max-width: 900px;
  max-height: 900px;
  margin: auto;
}

.square {
	height: 300px;
	width: 300px;
	background-color: #98c0eb;
	border-collapse: seperate;
}
.square:hover{
	background-color: #ca5495;
}


.btn{
  font-size: 100px;
}

.btn:hover{
  background-color: #ca5495;
}